body{
	margin: 0;
	font-family: Roboto;
    font-style: normal;
}
*{
	box-sizing: border-box;
}
.main-container{
    text-align: center;
	display:block;
}
h1{
    text-align: center;
    
}
.contenedor img{
    width: 110vh;
}
